@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EntityLayer.Entities.Sales>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>SALES LIST</h2>
<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>Product Name</td>
        <td>Piece</td>
        <td>Price</td>
        <td>Image</td>
        <td>Date</td>

    </tr>


    @foreach (var item in Model)
    {

        <tbody>
            <tr>
                <td>@item.Id</td>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td><img src="~/Content/Image/@item.Product.Image" width="90" height="90"</td>
                <td>@Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>
            </tr>


        </tbody>

    }
</table>
@Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedListRenderOptions.Classic)

