@model EntityLayer.Entities.Product
@{
    ViewBag.Title = "Update";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "btn btn-danger" })

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="Name" value="@Model.Name" />
                    @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color:red" })
                </div>
                <br />
                <div class="form-group">
                    <label>Explanation</label>
                    <input type="text" class="form-control" name="Description" value="@Model.Description" />
                    @Html.ValidationMessageFor(x => x.Description, "", new { @style = "color:red" })
                </div>
                <br />
                <div class="form-group">
                    <label>Previous Image</label>
                    <img src="~/Content/Image/@Model.Image" width="70" height="70"   />
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Image, "Image", htmlAttributes: new { @class = " control-label-col-md-2 " })
                    <input type="file" class="form-control" name="File" />
                    @Html.ValidationMessageFor(x => x.Image, "", new { @style = "color:red" })
                </div>
                <br />
                <div class="form-group">
                    <label>Price</label>
                    <input type="text" class="form-control" name="Price" value="@Model.Price" />
                    @Html.ValidationMessageFor(x => x.Price, "", new { @style = "color:red" })
                </div>
                <br />
                <div class="form-group">
                    <label>Stock</label>
                    <input type="text" class="form-control" name="Stock" value="@Model.Stock" />
                    @Html.ValidationMessageFor(x => x.Stock, "", new { @style = "color:red" })
                </div>
                <br />
                <div class="form-group">
                    <label>Popular</label>
                    @Html.EditorFor(x => x.Popular)
                    
                </div>
                <br />
                <div class="form-group">
                    <label>Approval</label>
                    @Html.EditorFor(x => x.IsApproved)
                 
                </div>
                <br />
                <div class="form-group">
                    <label>Category</label>
                    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.ktgr, new { @class = "form-control" })

                  
                </div>
                <br />

                <button class="btn btn-primary" type="submit">Update</button>
                <a href="/AdminProduct/Index" class="btn btn-primary">Product List</a>
            </form>
        </div>
    </div>
</div>

